.board {
  height: 100%;
  width: 66.66%;
  border-width: calc(min(90vh, 66.67vw) * 0.06 * 0.05);/* A twentieth of a square */
  box-sizing: border-box;
  position: relative;
}

.line {
  display: block;
  height: 6.66%;
  width: 100%;
  position: relative;
}
