.board {
  height: 100%;
  width: 100%;
  border-width: 5%; /* A twentieth of a square */
  box-sizing: border-box;
  position: relative;
}

.line {
  display: block;
  height: calc(100%/15);
  width: 100%;
  position: relative;
}
