.square {
  height: 100%;
  width: 100%;
  border-width: calc(min(97vh, 66.67vw) / 15 / 20); /* A twentieth of a square */
  position: relative;
  box-sizing: border-box;
  border-color: #F0EBCA;
  border-style: solid;
  border-radius: 12%;
}

.letter {
  background-color: #F0EBCA;
}

.selected {
  border-color: black;
  border-style: solid;
}

.value {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(min(97vh, 66.67vw) / 15 / 2); /* Half of a square */
  width: 100%;
  height: 100%;
}

.point {
  position:absolute;
  bottom: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(min(97vh, 66.67vw) / 15 / 2 / 3); /* Half of a square dividec by three */
  width: calc(100%/3);
  height: calc(100%/3);
}
