.square {
  height: 100%;
  width: 100%;
  border-width: calc(min(97vh, 66.67vw) / 15 / 40);/* A twentieth of a square */
  position: relative;
  box-sizing: border-box;
  border-color: white;
  border-style: solid;
}

.basic {
  background-color: #6ED5A8;
  color: #6ED5A8;
}

.double_letter {
  background-color: #4CC8FE;
}

.triple_letter {
  background-color: #5C97C1;
}

.double_word {
  background-color: #F5907A;
}
.triple_word {
  background-color: #FF0000;
}

.selected {
  border-color: black;
  border-style: solid;
}

.text {
  padding: 12.5% 0;
  text-align: center;
  font-size: calc(min(97vh, 66.67vw) / 15 / 5);/* A fifth of a square */
  width: 100%;
  height: 75%;
}
